/* src/pages/Contact.css */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* gap: 30px; */
    /* text-align: center; */
    padding: 50px 20px;
    background: #f9f9f9;
}

.contact h1 {
    font-size: 2.5rem;
    color: #333;
}

.contact p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

/* Contact Form */
.contact-form {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    border: #8A2BE2 1px solid;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #3000a3;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    resize: none;
    transition: border 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #8A2BE2;
    outline: none;
}

.contact-form button {
    background: #08793f;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #3ac47d;
    ;
}

.map-container {
    flex: 1;
    max-width: 500px;
}

.success-message {
    background-color: #e6ffed;
    border: 2px solid #3ac47d;
    border-radius: 12px;
    padding: 40px 20px;
    text-align: center;
    color: #1e4620;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    animation: fadeIn 0.6s ease-in-out;
}

.success-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.success-message p {
    font-size: 16px;
    margin-bottom: 20px;
}

.back-home-button {
    display: inline-block;
    background-color: #3ac47d;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.back-home-button:hover {
    background-color: #319e66;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        width: 100%;
        max-width: 400px;
    }

    .map-container {
        width: 100%;
    }
}