/* src/components/Navbar.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 15px;
    position: sticky;
    height: 70px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo Styling */
.logo img {
    width: 50px;
    max-width: 100%;
}

/* Navigation Links (Desktop) */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease;
    padding: 10px;
}

.nav-links a.active {
    color: #ff9800;
    font-weight: bold;
    border-bottom: 2px solid #ff9800;
}

.nav-links a:hover {
    color: #ffc107;
}

/* Hamburger Menu */
.menu-icon {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        z-index: 1500;
    }

    .nav-links {
        position: absolute;
        top: 100px;
        right: -20px;
        /* width: 100%; */
        height: 100vh;
        background: white;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        display: none;
        /* padding: 20px 0; */
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        padding: 15px 0;
    }

    .nav-links a {
        font-size: 1.5rem;
    }

    .logout-btn {
        background-color: white;
    }
}